@import '/src/styles/variables.scss';

header {
  padding-top: 1.6rem;
  padding-bottom: 2rem;
  width: 45.33%;
  margin: 0 auto;
  .navbar {
    background-color: $primary-gray!important;
    opacity: 0.88;
    border-radius: 0.8rem;
  }
  .navbar-brand {
    margin-right: auto;
    img {
      max-height: 2.8rem;
    }
  }
  .navbar-nav {
    .nav-item {
      a {
        color: $text-color;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        &:hover {
          color: $primary-blue;
        }
      }
    }
  }
}
