@import "/src/styles/variables.scss";

.winner-modal {
  margin-top: 1.25rem;
  padding: 0.625rem;
  border: 2px solid $primary-blue;
  border-radius: 0.3125rem;
  background-color: $primary-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .winner-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .winner-image {
      width: 6.25rem;
      height: 6.25rem;
      border: 2px solid $primary-blue;
      background-color: rgba($primary-purple, 0.8);
      border-radius: 50%;
      margin-bottom: 0.625rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: $text-color;
      background-color: $primary-purple;
      padding: 0.3125rem 0.625rem;
      border-radius: 0.3125rem;
      width: 100%;
      margin: 0;
    }
  }

  .close-button {
    max-width: 9rem;
    margin-top: 0.625rem;
    background-color: $primary-blue;
    color: $primary-purple;
    &:hover {
      background-color: $primary-purple;
      color: $primary-blue;
    }
  }
}
