<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Debut</th>
            <th>From</th>
            <th>Height</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr *ngFor="let wrestler of wrestlers" (click)="openWrestlerModal(wrestler)">
              <td>{{ wrestler.name }}</td>
              <td>{{ wrestler.debut | date: "shortDate" }}</td>
              <td>{{ wrestler.from }}</td>
              <td>{{ wrestler.height }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
