@import '/src/styles/variables.scss';

:host {
  width: 65%;
}
.container {
  background-color: $primary-gray;
  color: $text-color;
  border-radius: 0.625rem;
  padding: 1.2rem;
  max-height: 40rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $primary-purple $primary-blue;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-purple;
  }

  &::-webkit-scrollbar-track {
    background-color: $primary-blue;
  }

  h2 {
    text-align: center;
  }

  .custom-list-group {
    background-color: $primary-purple;
    text-align: center;
    padding: 1rem;
    color: $text-color;
    border-radius: 0.625rem;

    .list-group-item {
      padding-top: 0.8rem;
      background-color: $primary-purple;
      color: $text-color;

    }
    .events {
      margin-top: 0.6rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .matches {

      .match-container{
        transition: transform 0.2s ease-in-out;
        padding: 10px; /* Add padding to the container */
        border: 1px solid $primary-gray;
        border-radius: 5px;

        &:hover {
          transform: scale(1.05); /* Apply the zoom effect */
        }
      }

    }
  }
}
