$font-family: 'Quicksand', Roboto, "Helvetica Neue", sans-serif !important;

/* Colors */

$primary-blue: #98dfea;
$primary-purple: #8f3985;
$primary-gray: #25283d;

$text-color: #FFFFFF;
$background-color: #121212;
