@import '/src/styles/variables.scss';

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: $background-color;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.bubble-header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
