@import '/src/styles/variables.scss';

.card {
  border: 2px solid $primary-purple;
  border-radius: 10px;
  overflow: hidden;
  background-color: $primary-blue;
  box-shadow: 0px 5px 15px rgba(242, 7, 242, 0.4);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .card-body {
    padding: 1rem;
    background-color: $primary-purple;
    border-top: 2px solid $primary-gray;

    .card-title {
      margin: 0;
      font-weight: bold;
      font-size: 1.2rem;
      color: $text-color;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 1078px) {
  .card {
    .card-body {
      .card-title {
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 798px) {
  .card {
    img {
      max-width: fit-content;
    }
    height: 20rem;
    .card-body {
      .card-title {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 766px) {
  .card {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
