/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand&family=Rubik&display=swap');


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Bangers', Roboto, "Helvetica Neue", sans-serif !important;
  background: linear-gradient(to bottom, #ffd3e0, #b5a2ca);
}
